# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile

# Môi trường
.venv
venv
*.pyc
.env
.secret

# Django
__pycache__/
db.sqlite3
/media/
/static/

# File tạm
*.log
act.exe
thong_note
frontend
test.py
migrations
db.sqlite3
README.md
docs