name: Build and Push Backend Docker Image

on:
  push:
    branches: ["master"]
    paths: 
    - 'src/backend/**'
  pull_request:
    branches: ["master"]
    paths: 
    - 'src/backend/**'
jobs:
  build-and-push:
    name: Build Backend
    runs-on: ubuntu-latest

    permissions: write-all

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Prepare image tags
        id: prep
        run: |
          OWNER=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
          IMAGE_NAME="shoplitex-backend"
          echo "TAGS=ghcr.io/$OWNER/$IMAGE_NAME:latest" >> $GITHUB_OUTPUT

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: src/backend
          file: src/backend/Dockerfile
          push: true
          tags: ${{ steps.prep.outputs.TAGS }}
